body{
  background-color: #EDD6CC;
}

h1{
  color: #A8512F;
  font-family: helvetica;
}
  p{
    color: #233349
  }

  img{
    border: 5px solid #9EAFB6;
    width: 50%;
    height: 50%;
    margin-left: 100px;
  }
}
